:root {
  --background-body: #292929;
  --background-content: #1d1d1d;
  --text-color: #e5e5e5;
  --code-bg-color: rgba(86, 96, 127, 0.75);
}

body {
  background: var(--background-body);
  color: var(--text-color);
}

.blog-container {
  min-height: calc(100vh - 140px) !important;
}

/* Post */
.article {
  width: 100%;
}

.article .tag {
  font-size: 1rem;
  padding-bottom: 0;
}

.article .tag svg {
  transform: translate(0, 0) rotate(0) skew(0) skewY(0) scaleX(0.8) scaleY(0.8) !important;
}

.article svg {
  width: 1.5rem;
}

.tag svg {
  transform: translate(0, 0) rotate(0) skew(0) skewY(0) scaleX(1.2) scaleY(1.2) !important;
}

.article h2 {
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--primary);
}

.article button.icon {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.article .post-wrapper {
  width: 100%;
}

/* code */
.article .code-wrapper {
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1.5rem 0 !important;
  padding: 0;
  background-color: transparent;
}

.article .code-area {
  position: relative;
  height: 100%;
}

.article .code-area pre {
  max-height: 350px;
  border: none;
  margin: 0;
}

.article .code-area .copy-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}

.article p:not(.alert p) {
  color: rgba(234, 237, 243, 1);
  font-size: 1rem;
}

.article code {
  background-color: var(--code-bg-color);
  border-radius: .25rem;
  padding: .25rem;
  color: var(--text-color);
  font-size: .875em;
  font-weight: 600;
}
